* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    border: solid 2px red;
}

.layer1{
    background-image: url(/assets/parallaxbgplaceholder.jpg);
}
.layer2{
    background-image: url(/assets/DanPhotoLogo.png);
}

#bm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40em;
    height:40em;
    border: solid 3px white;
}

#para-bg {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 35em;
    height: 35em;
}

#logo {
    position: absolute;
    filter: invert(1);
    width: 18%;
}